

h1 {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    text-shadow: 8px 3px 5px rgba(0, 0, 0, 0.5);
    margin: 1vh;
}

h2{
    font-size: 25px;
    margin: 1;
}

header{
    font-style: italic;
    font-size: large;
    font-weight: 600;
    margin: 0vh;
}

li{
    font-size: 20px;
}

li.enlace{
    display: inline-table;
}

/* a{

} */


p{
    font-size: 20px;
    text-align: justify;
}

.container-imagen{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.imagen{
    border-radius: 50%;
    width: 350px;
}

.caja-enlace {
    color: black;
    display: block;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.container-menu{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-footer{
    color: black;
    font-size: 1px;
}