<%- include('layout/header')%>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i>Todos los usuarios</a>
                </div>
            </div>

            <div class="form-little text-center">
                <h2 class="text-dark">Nuevo Usuario</h2>
                <span class="text-light">Registrate a continuacion...</span>
            </div>

            <%- include('layout/form')%>

        </div>
    </main>
    <!-- /Main Site -->

<%- include('layout/footer')%>