h1{
    font-style: oblique;

}

.container-imagen{
    display: flex;
    justify-content: right;
    margin: 0px;
    justify-content: center;
}

.imagen{
    border-radius: 50%;
    height: 280px;
    width: 270px;
}