<%- include('layout/header')%>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i>Todos los usuarios</a>
                </div>
            </div>

            <div class="form-little text-center">
                <h2 class="text-dark">Actualizar Usuario</h2>
                <span class="text-light">Actualiza el usuario a continuacion...</span>
            </div>

            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="usuario" class="text-light">Usuario</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="usuario" value="" placeholder="amorales">
                    </div>
                    <div class="form-group">
                        <label for="clave" class="text-light">Clave</label>
                        <input type="text" name="clave" value="" placeholder="12345">
                    </div>
                    <div class="form-group">
                        <label for="nombre" class="text-light">Nombre</label>
                        <input type="text" name="nombre" value="" placeholder="Adriana">
                    </div>
                    <div class="form-group">
                        <label for="apellido" class="text-light">Apellido</label>
                        <input type="text" name="apellido" value="" placeholder="Morales">
                    </div>
                    <div class="form-group">
                        <label for="fechnaci" class="text-light">Fecha de Nacimiento</label>
                        <input type="text" name="fechnaci" value="" placeholder="2003-06-01">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Guardar</button>
                    </div>
                </div>
            </form>

        </div>
    </main>
    <!-- /Main Site -->

<%- include('layout/footer')%>