<tr>
    <td>amorales</td>
    <td>12345</td>
    <td>Adriana</td>
    <td>Morales</td>
    <td>2003-06-01</td>
    <td>
        <a href="/update_user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>