* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template: 150px 50px 1fr 50px / 1fr;
    grid-template-areas: "header" "left" "content" "footer" ;
    grid-gap: 5px;
    height: 100vh;
}

.item {
    background-color: lightskyblue;
    padding: 10px;
    border: 1px solid lightgray;
}

.header{
    grid-area: header;
    background-color: lightskyblue;

}

.left{
    grid-area: left;
    background-color: lightskyblue;
    
    
}

.content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightskyblue;
    grid-gap: 2px;
        
}

.fila{
    display: flex;
    justify-content: center;
    flex-direction: row; 
    grid-gap: 2px;
}

.footer{
    grid-area: footer;
    background-color: lightskyblue;
    
}

.item1{
    border: 1px solid blue;
    /*order: 1px solid black;*/
    background-color: yellow;
    height: fit-content;
    width: fit-content;
    padding: 179px;    
    /*font-size: 20px;*/
    /*color: yellow;*/
    /*font-weight: bolder;
    text-align: center;*/
    align-self: center;
}

.item2{
    border: 1px solid blue;
    background-color: gray;
    height: 30px;
    width: 75px;
    padding: 21px;
    /*font-size: 10px;*/
    /*color:black;*/
    /*font-weight: bolder;*/
    /*text-align: center;*/
    /*align-self: flex-end;*/
}

.item3{
    border: 1px solid blue;
    background-color: blue;
    height: 30px;
    width: 75px;
    padding: 21px;
}

.item4{
    border: 1px solid blue;
    background-color: salmon;
    height: 30px;
    width: 75px;
    padding: 21px;
}


